.editMap{"ng-controller" => "mapsController"}
  %input{"ng-model" => "map.name", "type" => "text"}

  %ul
    %li{"ng-repeat" => "location in locations"}
      %input{:type => 'checkbox', "ng-click" => "locationChecked(null, $event, location)"}
        {{location.name}}
        {{location.latitude}}
        {{location.longitude}}

  %button{"ng-click" => "submit()"}
    SUBMIT ASYNC
