.show{"ng-controller" => "showMapsController"}
  %p#notice
    = notice

  %p
    = @map.name

  #gmap-key{"data" => @browserKey}

  %ui-gmap-google-map{"center" => "map.center", "bounds" => "getBoundsFromLocation(locations)", "refresh" => "ready", "zoom" => "map.zoom"}
    %ui-gmap-layer{"type" => "TransitLayer", "show" => "show"}
    %ui-gmap-markers{"models" => "locations", "coords" => "'self'", "icon" => "'icon'"}

  %my-map

  = link_to 'Edit', edit_map_path(@map) |
  = link_to 'Back', maps_path
