.show{"ng-controller" => "showMapsController"}
  %p#notice
    = notice

  %p
    = @map.name

  #gmap-key{"data" => @browserKey}

  #map
    test

  %ui-gmap-google-map{"center" => "{latitude: -34.397, longitude: 150.644}", "bounds" => "getBoundsFromLocation(locations)", "refresh" => "ready", "zoom" => "8"}

    %ui-gmap-markers{"models" => "locations", "coords" => "'self'", "icon" => "'icon'"}

  = link_to 'Edit', edit_map_path(@map) |
  = link_to 'Back', maps_path
