%h1 Welcome to Mappd!

- if user_signed_in?
  %h2 Linked Accounts
  %ul
    - current_user.authentications.each do |auth|
      - if (auth.provider == 'foursquare')
        .li
          FOURSQURE IMAGE HERE
      - if (auth.provider == 'google_oauth2')
        .li
          = image_tag('google_64.png')


  - if !@checkins.nil? && @checkins.length > 0
    %h2 Your Data
    %ul
      - @checkins.each do |checkIn|
        %li
          = checkIn.venue.name
          %br
          = checkIn.venue.location.lat
          ,
          = checkIn.venue.location.lng
  - else 
    No check-in data available
- else
  You are not logged in